/* Create the animation block */

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
/* SINCE BALL IS BUTTON, THEN ITS STYLES AND VARS ARE DESCRIBED
WITH BTN LABEL/ALIAS - TO REFER TO ITS DOM ELEMENT ORIGIN */

.btn1 {

    visibility: hidden;
    position: absolute;
    top:150px;
    border-radius:50%;
    background-color:aqua;
    height:50px;
    width:50px;
    border: 0px white solid;

    transition-property: left, top;
    transition-duration: 2s;
    transition-timing-function: linear;
    -webkit-transition-property: left, top;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: linear;

    background-image: -moz-radial-gradient(15px 25px 45deg, circle cover, yellow 0%, white 100%, aqua 95%);
	background-image: -webkit-radial-gradient(15px 25px, circle cover, white, aqua);
	background-image: radial-gradient(15px 25px 45deg, circle cover, yellow 0%, white 100%, aqua 95%);
	
	animation-name: spin; 
	animation-duration: 3s; /* 3 seconds */
	animation-iteration-count: infinite; 
	animation-timing-function: linear;

}

.btn1:hover {
    cursor: pointer;
}

.btn1:active {
    cursor: grabbing;
}

/* MAIN ROUND-CORNERED FRAME */
/* THE BALL TRAVELS INSIDE THIS FRAME */

.frame {
    visibility: hidden;
    width:400px;
    margin-top:45px;
    height: 200px;
    border: 3px black solid;
    margin:auto;
    border-radius:25px;
    position:relative;
}

.frame:hover {
    cursor: crosshair;
}

.frame:active {
    cursor: not-allowed;
}


/* GENERAL AND OTHER STYLES */
/* GENERAL COMMENTS ON CSS */

/* ANIMATIONS BORROWED FROM:
https://davidwalsh.name/demo/css-circles.php
*/


.msg-box {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 2px solid grey;
    padding: 5px;
    width: 400px;
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

